{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  

  <style>

    .text {
      display: flex;
      align-self: center;
      text-align: center;
    }

    .reset-password {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .send-instructions {
      margin-top: 1rem;
      display: flex;
      text-align: center;
      justify-content: center;
    }

  </style>

  <div class="card">
      
    <div class="card-title">
        <h1>Forgot your password?</h1> 
    </div>

    <div class="text">
       <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    </div>
    
    
    <form method="POST" class="reset-password">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_email">Email*</label>
      <input placeholder="example@gmail.com" type="text" name="email" autocomplete="email" id="id_email" required>
      </div>
    </form>

    <div class="send-instructions">
      <button class="btn" type="submit">Send me instructions!</button>
    </div>
    
  </div>

{% endblock %}